.App {
  height: 100vh;
  display: flex;
}

a {
  text-decoration: none !important;
}

main {
    padding: 15px 0.25em 15px 0.25em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#button-toggle {
  z-index: 2000;
}

.btn-toggle {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: #353535;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  display: none;
  margin: 1.25em;
}

.table-container {
  margin-top: 25px;
  padding: 0.2em;
  overflow-x: scroll;
}

.button{
  min-width: 35px;
  min-height: 35px;
  max-width: 100px;
  max-height: 100px;
  padding: 0.5em;
  margin: 0.25em;
  color: #5e5e5eaf;
  border-radius: 5px;
  border: 0;
  margin: 3px;
  text-align: center;
  text-decoration: none;
}

.button:hover{
  text-decoration: none;
  color: #fffffffa
}

.btn {
  margin: 0.25em;
}
.button.icon{
  display: flex;
  align-items: center;
}

.button-edit {
  color: #fffffffa;
  background-color: #18A4E0;
}

.button-edit a {
  color: #fffffffa;
} 

.button-danger{
  color: #fffffffa;
  background-color: #dd5331;
}

.button-success{
  color: #fffffffa;
  background-color: #31dd65;
}

.return-btn-container{
  display: block;
  margin: 0.25em;
  padding: 0.25em;
}

.return-list-btn{
  color: #353535;
}

.return-list-btn:hover{
  color: inherit;
}

.collapse {
  margin-top: 25px;
  transition: ease-in-out 0.05s;
}

.image-gallery-holder {
  min-height: 250px;
  border-radius: 10px;
  color: #5e5e5e;
  background-color: #9ddffc;
}

.close-img-button{
  color: #FFFFFF;
  width: 35px;
  height: 35px;
  border: 1px solid #8b8b8b;
  background: #353535;
  border-radius: 50%;
  margin: 5px;
  display: inline-block;
}
.close-img-button:hover {
  color: #FFFFFF !important;
}

@media (max-width: 768px) {
  .btn-toggle {
    display: flex;
  }
}